@media only screen and (max-width: 400px) {

    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
    :root
    {
        --light_gray: #bababa;
        --med_gray: #8d8d8d;
        --dark_gray: #3a3a3a;
    
        --light_blue: #a6cbeb;
        --dark_blue: #4c96d7;
    
        --white: #ffffff;
    }
    
    html
    {
        background-image: url("../images/site/small_check2.jpg");
        font-family: 'Roboto Mono', monospace;
    }

#logo_area
{
    background-color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 90px;
    margin-bottom: 10px;
}

#logo
{
margin-left: auto;
margin-right: auto;
padding: 5px;
display: block; 
}

#my_account
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#my_account:link, #my_account:visited
{
    color: black;
    text-decoration: none;
}

#my_account:hover
{
    text-decoration: underline;
}

main
{
    width: 100%;
    background-color: var(--white);
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--dark_blue);
    border-radius: 6px;
}

#welcome
{
    text-align: center;
    
}

#delorean
{
    width: 80%;
    margin-bottom: 30px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}


.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
  }
  
  .grid-item
  { 
      width: 120px;
      text-align: center;
      border: 30px solid var(--dark_blue);
  }

#last_line
{
    width: 90%;
    height: 1px;
    border: none;
    position: relative;
    background: rgb(115, 115, 115);
}

#year_clock
{
    padding: 10px;
}

#review_header
{
    text-align: center;
}

#reviews li
{
    padding: 10px;
}

#error
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 85%;
}








/*---------------------------------------------------------------------------------*/

.anyform
{
    margin-top: 10px;

    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}


.form_box
{
    
    border-radius: 5px;
    height: 30px;
    display: inline;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
}

.center_text
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

}